mixin frames(frames)
    table
      tr
        each frame in frames
          td
            a(href=`https://hall-of-mirrors.s3-us-west-1.amazonaws.com/${frame.s3Key}`)
              img(src=`https://hall-of-mirrors.s3-us-west-1.amazonaws.com/${frame.s3Key}` style="height: auto; width: 100%")
