mixin frames(frames)
    table
      tr
        each frame in frames
          td
            a(href=`/files/${frame.s3Key}`)
              img(src=`/files/${frame.s3Key}` style="height: auto; width: 100%")
