extends _wrapper.pug
include _mixins/frames.pug

block content

  form(action=`/layout/${layoutId}/capture` method="POST")
    input(type="submit" value="Capture Now" style="padding: 20px")

  br
  if capture
    h3 Viewing Capture "#{capture.id}"
    h4 Created #{capture.createdAt}

    h3 Captures
    +frames(capture.frames)
